body {
  background-color: #333333;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.intro {
  text-align: center;
}

form {
  margin-top: 50px;
}

label {
  color: white;
  font-size: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

button {
  margin-left: 15px;
}

#user-age {
  width: 100px;
}

.planet-ages, .remaining-life {
  margin-top: 50px;
  margin-left: 15px;
  display: none;
}

p {
  color: white;
}
